@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-blue: #2563eb;
  --color-brand-dark: #0f172a;
  
  /* Добавляем переменные в систему Tailwind */
  --color-surface: rgb(var(--background-rgb));
  --color-text-main: rgb(var(--foreground-rgb));
}

:root {
  --foreground-rgb: 31, 41, 55;
  --background-rgb: 255, 255, 255;
  --glass-bg: rgba(255, 255, 255, 0.7);
}

:where(.dark) {
  --foreground-rgb: 243, 244, 246;
  --background-rgb: 10, 10, 10;
  --glass-bg: rgba(10, 10, 10, 0.7);
}

body {
  color: var(--color-text-main);
  background: var(--color-surface);
  transition: background-color 0.3s ease, color 0.3s ease;
}